<div class="container">
  <div class="card">
    <div class="background">
      <div class="background-image"></div>
      <div class="content" *ngIf="guests$ | async as guests">
        <div
          [class.heading]="guests[0].guestNames.length > 1"
          [class.heading-alt]="guests[0].guestNames.length < 2"
        >
          <span class="attendee first-name"
            >{{ guests[0]?.guestNames[0] }}
            <span *ngIf="guests[0]?.guestNames[2]">,</span></span
          >

          <span class="attendee first-name" *ngIf="guests[0]?.guestNames[2]">
            {{ guests[0]?.guestNames[2] }}
          </span>
          <span class="ampersand" *ngIf="guests[0].guestNames.length > 1"
            >и</span
          >
          <span class="attendee second-name">{{
            guests[0]?.guestNames[1]
          }}</span>
        </div>
        <div class="paragraph">
          Имаме удоволствието и радостта да
          <span *ngIf="guests[0].guestNames.length > 1">ви</span
          ><span *ngIf="guests[0].guestNames.length < 2">те</span> поканим на
          нашето сватбено тържество! То ще се състои на 15.06.2024г. в бар
          „Галерията“, който е в съседство на паметника „Асеневци“.
          Празненството ще започне в 15ч. и ще продължи до 20ч. Ще ви очакваме с
          нетърпение, за да споделим с вас щастието си в този специален и
          радостен за нас ден!
        </div>
        <div class="from">
          <p>От Поли и Цецо</p>
        </div>
        <div class="actions">
          <button class="button ripple" (click)="isAttending(guests[0]?.id)">
            <span *ngIf="guests[0].guestNames.length > 1">Ще присъстваме!</span>
            <span *ngIf="guests[0].guestNames.length < 2">Ще присъствам!</span>
          </button>
          <button class="button ripple" (click)="isNotAttending(guests[0]?.id)">
            <span *ngIf="guests[0].guestNames.length > 1"
              >Няма да присъстваме.</span
            >
            <span *ngIf="guests[0].guestNames.length < 2"
              >Няма да присъствам.</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
